
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px; 
    width: 72px;
    background-color: rgb(228, 228, 228);
    z-index: 200;
    padding: 5px;
}

.sidebar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(219, 216, 216);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: "Roboto", "Ariel";
    font-size: 10px;
    
}